:root {
  --primary-dark: #091022;
  --primary-light: #F1F4FF;
  --custom-green: #49AA26;
  --custom-pink: #CC1C64;
  --custom-grey: #939aac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

html {
  font-size: 87.5%;
}

body {
  background-color: var(--primary-light);
  font-family: 'Poppins', sans-serif;
  color: var(--primary-dark);
}

.top-container {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding: 2rem 0 7rem 0;
  font-size: .8rem;
  line-height: 1.4rem;
  margin-bottom: 3rem;
}

.top-container img {
  height: 4rem;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: .5rem;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*===== TITLES =====*/

h2 {
  margin-bottom: 1rem;
  font-weight: normal;
}

.light {
  color: var(--primary-light);
}

/*===== LINKS AND BUTTONS =====*/

a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--custom-pink);
  transition: color 300ms;
}

a:hover {
  color: var(--primary-dark);
}

.button.new {
  display: inline-block;
  margin: .8rem 0;
}

button, .button.cancel {
  width: 49%;
  height: 50px;
  border-radius: .25rem;
}

button {
  border: none;
  color: white;
  background-color: var(--custom-pink);
  cursor: pointer;
  transition: background-color 300ms;
  font-size: 1.05rem;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #ff0084;
}

.button.cancel {
  color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
  transition: opacity 300ms;
}

.button.cancel:hover {
  opacity: 1;
}

/*===== BALANCE =====*/

#balance {
  margin-top: -7rem;
}

.card {
  background-color: white;
  padding: 1.5rem 2rem;
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.card input {
  border: none;
  font-family: 'Poppins', sans-serif;
  color: var(--custom-green);
  font-size: 1.4rem;
  font-weight: bold;
}

.card input:focus {
  outline: none;
}

.card h3 {
  font-size: 1.4rem;
}

.hidden {
  display: none;
}

.card p {
  font-size: .8rem;
  justify-content: space-between;
  align-items: center;
}

.card.total {
  background-color: var(--custom-green);
  color: var(--primary-light);
}

/*===== TABLE =====*/

#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 150%;
  border-spacing: 0 .5rem;
  line-height: 1.1rem;
  margin-bottom: 2rem;
}

table thead tr th:first-child, table tbody tr td:first-child {
  border-radius: .25rem 0 0 .25rem;
  width: 40%;
}

table thead tr th:last-child, table tbody tr td:last-child {
  border-radius: 0 .25rem .25rem 0;
}

table thead th {
  background-color: var(--custom-pink);
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
  color: white;
}

table tbody td {
  background-color: white;
  padding: 1rem 2rem;
}

table tbody tr {
  opacity: .7;
  transition: opacity 200ms;
}

table tbody tr:hover {
  opacity: 1;
}

td.expense {
  color: var(--custom-pink);
}

td img {
  height: 20px;
}

/*===== MODAL =====*/

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: var(--primary-light);
  padding: 2rem;
  position: relative;
  border-radius: .2rem;
  width: 90%;
  max-width: 600px;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/*===== FORM =====*/

.modal-overlay input {
  border: none;
  border-radius: .2rem;
  padding: 1.3rem 1rem;
  width: 100%;
}

.input-group {
  margin-top: 1rem;
}

.input-group small {
  opacity: .4;
}

.modal p {
  color: var(--custom-pink);
  margin-top: 1rem;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*===== FOOTER =====*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/*===== RESPONSIVE =====*/

@media (min-width: 800px) {
  html {
    font-size: 93.75%;
  }
  .top-container {
    padding: 3rem 0 8rem 0;
  }
  .card input {
    max-width: 150px;
  }
  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
  }
  table thead tr th:first-child, table tbody tr td:first-child {
    width: 50%;
  }
  #data-table {
    width: 100%;
  }
  .modal {
    padding: 3rem 4rem;
  }
}